* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: none;
}

:root {
  --background-dark-black: rgb(18, 18, 18);
  --background-light-black: rgb(40, 40, 40);
  --background-light-grey: rgb(63, 63, 63);
  --highlight-main: rgb(166, 136, 250);
  --highlight-second: rgb(186, 159, 251);
}

.intro-container {
  background-color: var(--background-dark-black);
}

.container {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  max-width: 2200px;
  margin: auto;
  height: 80vh;
  border-radius: 0 0 4rem 4rem;
}

.container:after {
  content:'';
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  display:inline-block;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(166, 136, 250, 0.554) 100%); 
  border-radius: 0 0 4rem 4rem;
  animation: hue 12s infinite;
}

@keyframes hue {
  0%, 100%  { -webkit-filter: hue-rotate(0deg); }
  50% { -webkit-filter: hue-rotate(180deg); }
}

.container > img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  background-color: none;
  border-radius: 0 0 4rem 4rem;
}

.bottom-left {
  z-index: 111;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1500px;
  background-color: none;
}

.up-right {
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
  max-width: 1500px;
  background-color: none;
}

.deals-sticker {
  width: 40vh;
  transform: rotate(-10deg);
}

.deals-h1 {
  font-size: 23vh;
  color: var(--highlight-main);
  background-color:none;
  letter-spacing: 1.5rem;
}

.p-text {
  font-size: 1.5rem;
  background-color: none;
  color: white;
  font-weight: 900;
  letter-spacing: 0.6rem;
  width: 800px;
  line-height: 1.5rem;
  word-spacing: 0.7rem;
}


@media screen and (max-width: 800px){
  .container {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    margin: auto;
    height: 60vh;
  }

  .up-right {
    top: 26%;
    left: 70%;
    transform: translate(-50%, -50%);
    max-width: 1500px;
    background-color: none;
  }

  .deals-sticker {
    width: 18vh;
    transform: rotate(-10deg);
  }

  .container > img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
    background-color: none;
  }

  .bottom-left {
    z-index: 111;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    background-color: none;
  }

  .deals-h1 {
    font-size: 10vh;
    color: var(--highlight-main);
    background-color:none;
    letter-spacing: 1rem;
  }
  
  .p-text {
    font-size: 1rem;
    background-color: none;
    letter-spacing: 0.1rem;
    line-height: 0.4rem;
    word-spacing: 0.3rem;
    color: white;
    font-weight: 900;
    width: 100%;
  }
}