* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-dark-black);
  background-color: none;
}

:root {
  --background-dark-black: rgb(18, 18, 18);
  --background-light-black: rgb(40, 40, 40);
  --background-light-grey: rgb(63, 63, 63);
  --highlight-main: rgb(166, 136, 250);
  --highlight-second: rgb(186, 159, 251);
}